<div class="nav">

  <!--Center link-->
  <div class="nav-center">
    <a href="/index"><img
        src="../images/unologo.png"
        width="120px"
        height="110px"
        alt="logo"
      /></a>
  </div>

  <a href="#">Welcome {{signedInUser}}</a>
  {{!  <a href ="/logout" class="logout">Logout</a> }}

  <div class="nav-right">
    <a href="/protected/lobby">Lobby</a>
    <a href="/login">Log in</a>
    <a href="/signup">Register</a>
  </div>
</div>