<form action="/lobby" method="GET" id="landing-form">
  <div class="uno-title pb-5">
    <h1>Let The Games Begin!</h1>
  </div>

  </br>
  
  <div class="d-grid col-5 mx-auto pt-5">
    <button type="submit" id="lobby-btn" class="btn btn-primary" >Enter Lobby</button>
  </div>
</form>